[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bel = {editable = true, path = "."}
pip = "==18.0"

[dev-packages]
coverage = "*"
mypy = "*"
ptpython = "*"
pytest = "*"
pytest-cache = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mypy = "*"
pytest-pep8 = "*"
pytest-sugar = "*"
Sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
twine = "*"
pytest-env = "*"

[requires]
python_version = "3.7"
