apipkg==1.4
-e git+git@github.com:belbio/bel_lang.git@6a53cfbc538038b2b9b481b39ff6b4a7a9c1c483#egg=bel_lang
bumpversion==0.5.3
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
coverage==4.4.1
execnet==1.5.0
idna==2.6
mypy==0.540
pep8==1.7.1
py==1.4.34
pyflakes==1.6.0
pytest==3.2.3
pytest-cache==1.0
pytest-cov==2.5.1
pytest-flakes==2.0.0
pytest-mypy==0.3.0
pytest-pep8==1.0.6
pytest-sugar==0.9.0
PyYAML==3.12
requests==2.18.4
TatSu==4.2.2
termcolor==1.1.0
typed-ast==1.1.0
urllib3==1.22
