alabaster==0.7.10
apipkg==1.4
appnope==0.1.0
attrs==17.3.0
Babel==2.5.1
-e git+git@github.com:belbio/bel_lang.git@db18c3343ff4d03e9ef0cb603e11bd4067fa6799#egg=bel_lang
bleach==2.1.2
bumpversion==0.5.3
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
coverage==4.4.1
cycler==0.10.0
decorator==4.1.2
docutils==0.14
entrypoints==0.2.3
execnet==1.5.0
html5lib==1.0.1
idna==2.6
imagesize==0.7.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.0
matplotlib-venn==0.11.5
mistune==0.8.1
mypy==0.550
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.1
numpy==1.13.3
pandocfilters==1.4.2
parso==0.1.0
pep8==1.7.1
pexpect==4.3.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.3.0
pytest-cache==1.0
pytest-cov==2.5.1
pytest-flakes==2.0.0
pytest-mypy==0.3.0
pytest-pep8==1.0.6
pytest-sugar==0.9.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-autodoc-typehints==1.2.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
TatSu==4.2.2
termcolor==1.1.0
terminado==0.7
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.8
