click==6.7
coverage==4.5.1
Jinja2==2.10
jsonschema==2.6.0
mypy==0.590
pytest==3.4.1
pytest-cache==1.0
pytest-cov==2.5.1
pytest-flakes==2.0.0
pytest-mypy==0.3.0
pytest-pep8==1.0.6
pytest-sugar==0.9.1
python_arango==3.12.1
python-dateutil==2.6.1
python-json-logger==0.1.8
structlog==18.1.0
timy==0.4.0
twine==1.9.1
wheel==0.30.0

